# Node.js 기본
node_modules/
package-lock.json
yarn.lock

# TypeScript 컴파일 결과
dist/
build/
out/

# 환경 변수 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 로그 파일
*.log

# 테스트 결과
coverage/

# IDE 설정 파일
.vscode/
.idea/

# OS 관련 파일
.DS_Store
Thumbs.db

# 기타
*.swp
*.swo
*.sublime-workspace
*.sublime-project
